.--page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.--main-data-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.8);
}

th,
td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #333;
  color: #fff;
}

tr {
  border-bottom: 1px solid #ddd;
}

.selected-row {
  background-color: rgba(173, 216, 230, 0.5);
}

.checkbox input {
  margin: 0;
}

.actions-edit,
.actions-delete {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.actions-delete {
  color: #ff4500;
}

.actions-edit:hover,
.actions-delete:hover {
  transform: scale(1.2);
}

form {
  margin-top: 20px;
}

.--pagination button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 8px 12px;
  margin: 2px;
  cursor: pointer;
  border-radius: 5px;
}

.--pagination button:hover {
  background-color: #555;
}

.--delete-selected-btn {
  background-color: #ff4500;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.--delete-selected-btn:hover {
  background-color: #ff6347;
}
